{% extends 'base.html.twig' %}

{% block title %}
    Property | ImmoAgence
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">

        </div>
    </div>
{% endblock %}